.faq-section {
  background: #fffad0;

  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/faq/faq-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.jpg);
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 1;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 858px;
  }
}

.faq-top-text-btn {
  background: #fffad0;
  border-radius: 100px;
  padding: 12px 6px 12px 14px;
  width: 100%;
  display: flex;
  align-items: center;

  @include media(desktop) {
    padding: 12px 16px 12px 37px;
  }
}

.faq-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #060606;
  text-align: left;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  height: 56px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #060606;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}

.is-visible {
  max-height: 1000px;
  opacity: 1;
  margin-top: 12px;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open .faq-bottom-text {
  padding: 0 12px;
  opacity: 0.7;

  @include media(desktop) {
    padding: 0 30px;
  }
}

.faq-list-item.faq-open {
}

.faq-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  @include media(desktop) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
