.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-section-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gameplay/gameplay-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.jpg);
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-list-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #03396c;
  margin-bottom: 12px;

  @include media(desktop) {
  }
}

.gameplay-list {
  list-style-type: disc;
  padding-left: 30px;
  color: #03396c;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  @include media(desktop) {
  }
}

.gameplay-list-item {
  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #03396c;

  @include media(desktop) {
  }
}

.gameplay-bottom-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #03396c;

  @include media(desktop) {
  }
}
