.gameplay-section {
  background: #fffad0;

  @include media(desktop) {
  }
}

.gameplay-section-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gameplay/gameplay-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.png);
    background-position: top right;
    position: relative;
  }
}

.gameplay-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 64px;
  }
}

.gameplay-text-wrapper {
  padding: 0 20px;

  @include media(desktop) {
    padding: 0;
  }
}

.gameplay-title {
  text-align: center;

  @include media(desktop) {
    text-align: left;
  }
}

.gameplay-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  color: #737373;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 38px;
  }
}

.gameplay-span {
  font-size: 18px;
  color: #060606;

  @include media(desktop) {
  }
}

.gameplay-list-img {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.gameplay-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #737373;
  margin-bottom: 28px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
    margin-bottom: 24px;
  }
}

.gameplay-note-img {
  @include media(desktop) {
  }
}

.gameplay-img {
  margin-top: 36px;

  @include media(desktop) {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
