.reviews-section {
  background: linear-gradient(180deg, #85e1ff 0%, #209cd4 100%);

  @include media(desktop) {
  }
}

.reviews-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 70px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-image: url(../img/reviews/reviews-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/reviews/reviews-bg-desk.jpg);
  }
}

.reviews-container {
  padding: 0;
}

.reviews-title {
  @include media(desktop) {
    text-align: center;
  }
}

.reviews-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-swiper-wrapper {
  @include media(desktop) {
  }
}

.reviews-slide {
  background: #fff;
  border-radius: 22px;
  padding: 12px;
  max-width: 343px;
  min-height: 232px;

  @include media(desktop) {
    max-width: 400px;
  }
}

.reviews-item-name {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #03396c;
  margin-bottom: 12px;

  @include media(desktop) {
  }
}

.reviews-item-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #03396c;

  @include media(desktop) {
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;

  @include media(desktop) {
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
  @include media(desktop) {
    min-width: 86px;
    width: 86px;
    height: 52px;
  }
}
