.reviews-section {
  @include media(desktop) {
  }
}

.reviews-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    position: relative;
  }
}

.reviews-container {
  padding: 0;
}

.reviews-title {
  text-align: center;

  @include media(desktop) {
  }
}

.reviews-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 9px;
  }
}

.reviews-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-swiper-wrapper {
  @include media(desktop) {
    display: flex !important;
    row-gap: 28px;
    margin-left: 582px;
  }
}

.reviews-slide {
  background: #fffad0;
  border: 1px solid #fef075;
  border-radius: 20px;
  padding: 19px;
  max-width: 335px;
  display: flex !important;
  flex-direction: column;
  min-height: 264px;

  @include media(desktop) {
    padding: 19px 23px;
    width: 100% !important;
    max-width: 448px;
    min-height: 260px;
  }
}

.reviews-item-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  color: #060606;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
    margin-bottom: 40px;
  }
}

.reviews-item-name {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33333;
  text-transform: uppercase;
  color: #737373;
  margin-top: auto;

  @include media(desktop) {
    font-size: 32px;
    line-height: 1.25;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 32px;

  @include media(desktop) {
    margin-top: 0;
    position: absolute;
    top: 100px;
    right: 64px;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #d9d9d9;
  border: 1px solid #fef075;
  min-width: 54px;
  width: 54px;
  height: 54px;
  transition: all 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    background: transparent;
    border: 1px solid #5c5c5c;

    .arrow-icon {
      fill: #5c5c5c;

      @include media(desktop) {
      }
    }

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
  fill: #0a000e;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
  }
}
