<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">
            Your guide through Still Corner
          </h2>
          <div class="about-text-container">
            <p class="about-text">
              <span class="about-span">Mira’s note:</span><br />
              “I’ve lived here long enough to stop calling it strange.<br />
              Now I just call it… honest.”<br />
              Mira doesn’t solve puzzles for you.<br />
              She notices alongside you.She points out details that feel
              unimportant—until they suddenly matter.
            </p>
            <p class="about-text">
              <span class="about-span">Who she is:</span><br />
              &nbsp;&nbsp;• A quiet observer who sketches what she sees<br />
              &nbsp;&nbsp;• Someone who trusts angles more than guesses<br />
              &nbsp;&nbsp;• The kind of person who finds symmetry in broken
              things
            </p>
            <picture>
              <source
                srcset="./img/about/about-img-desk.png"
                media="(min-width: 1440px)"
                width="530"
                height="119"
              />
              <source
                srcset="./img/about/about-img-mob.png"
                width="335"
                height="123"
              />
              <img
                class="about-img"
                src="./img/about/about-img-mob.png"
                alt="Screenshot of the game"
                width="335"
                height="123"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
