<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">
            When chaos suddenly becomes clean
          </h2>
          <div class="features-text-container">
            <p class="features-text">
              This is what Still Corner's really about. You’ll stare at a scene
              and feel like there’s nothing there. And then—something aligns.
            </p>
            <p class="features-text">
              <span class="features-span"
                >A faint line appears.<br />
                A shape completes itself.<br />
                A messy cluster becomes symmetry.</span
              >
            </p>
            <picture>
              <source
                srcset="./img/features/features-img-desk.png"
                media="(min-width: 1440px)"
                width="569"
                height="138"
              />
              <source
                srcset="./img/features/features-img-mob.png"
                width="335"
                height="123"
              />
              <img
                class="features-img"
                src="./img/features/features-img-mob.png"
                alt="Screenshot of the game"
                width="335"
                height="123"
                loading="lazy"
              />
            </picture>
            <p class="features-text">
              That's the whole point, really. That moment when everything
              just... clicks. Not speed. Not noise. Just quiet clarity.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/features/features-bg-desk.png"
            media="(min-width: 1440px)"
            width="743"
            height="848"
          />
          <source
            srcset="./img/features/features-bg-mob.png"
            width="335"
            height="382"
          />
          <img
            class="features-bg-img"
            src="./img/features/features-bg-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="382"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
