<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        Boosters from the Clerk’s Desk
      </h2>
      <picture>
        <source
          srcset="./img/features/features-img-desk.png"
          media="(min-width: 1440px)"
          width="978"
          height="454"
        />
        <source
          srcset="./img/features/features-img-mob.png"
          width="298"
          height="1108"
        />
        <img
          class="features-img"
          src="./img/features/features-img-mob.png"
          alt="Screenshot of the game"
          width="298"
          height="1108"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          srcset="./img/features/features-bg-desk.png"
          media="(min-width: 1440px)"
          width="537"
          height="411"
        />
        <source
          srcset="./img/features/features-bg-mob.png"
          width="462"
          height="353"
        />
        <img
          class="features-bg-img"
          src="./img/features/features-bg-mob.png"
          alt="Screenshot of the game"
          width="462"
          height="353"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
