<footer class="footer" id="footer">
  <div class="footer-bg-wrapper">
    <div class="container footer-container">
      <div class="footer-content-wrapper">
        <a class="footer-logo-link" href="./">Still Corner</a>
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#home">Home</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#about"
              >Meet Mira</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#works"
              >What You’re Looking For</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#gameplay"
              >How It Works</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#features"
              >The “Click” Moment</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#progress"
              >Progression</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#reviews"
              >Reflections</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="./index.html#faq">FAQ</a>
          </li>
        </ul>
        <div class="footer-bottom-wrapper">
          <nav class="footer-nav">
            <ul class="footer-list">
              <li class="footer-list-item">
                <a class="footer-link" href="./privacy-policy.html"
                  >Privacy Policy |
                </a>
              </li>
              <li class="footer-list-item">
                <a class="footer-link" href="./terms-and-conditions.html"
                  >Terms & Conditions |
                </a>
              </li>
              <li class="footer-list-item">
                <a class="footer-link" href="./cookies-policy.html"
                  >Cookies Policy</a
                >
              </li>
            </ul>
          </nav>
          <p class="footer-text">
            © 2026 — All rights reserved. stillcorner.space
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
