<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-text-wrapper">
        <h2 class="section-title gameplay-title">Rotate. Shift. Align.</h2>
        <p class="gameplay-text">
          <span class="gameplay-span">Mira’s note:</span><br />
          “Don’t rush. This isn’t a puzzle you beat. It’s one you notice.”
        </p>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-list-desk.png"
            media="(min-width: 1440px)"
            width="898"
            height="470"
          />
          <source
            srcset="./img/gameplay/gameplay-list-mob.png"
            width="335"
            height="756"
          />
          <img
            class="gameplay-list-img"
            src="./img/gameplay/gameplay-list-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="756"
            loading="lazy"
          />
        </picture>
        <p class="gameplay-bottom-text">
          Controls couldn't be simpler, but man, it really messes with your
          brain - in a good way though.
        </p>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-note-desk.png"
            media="(min-width: 1440px)"
            width="570"
            height="119"
          />
          <source
            srcset="./img/gameplay/gameplay-note-mob.png"
            width="335"
            height="131"
          />
          <img
            class="gameplay-note-img"
            src="./img/gameplay/gameplay-note-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="131"
            loading="lazy"
          />
        </picture>
      </div>
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img-desk.png"
          media="(min-width: 1440px)"
          width="630"
          height="658"
        />
        <source
          srcset="./img/gameplay/gameplay-img-mob.png"
          width="375"
          height="425"
        />
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="425"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
