<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">Meet Mira</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works"
          >What You’re Looking For</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How It Works</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >The “Click” Moment</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progress"
          >Progression</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
