<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">The Clerk</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How It Works</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features">Boosters</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progress"
          >Levels & Modes</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
