<section class="progress-section section" id="progress">
  <div class="progress-section-wrapper">
    <div class="container progress-container">
      <h2 class="section-title progress-title">Levels & Modes</h2>
      <ul class="progress-list">
        <li class="progress-list-item">
          <p class="progress-item-title">Early Levels</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">• simple matches</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">• small boards</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">• gentle learning pace</p>
            </li>
          </ul>
        </li>
        <li class="progress-list-item">
          <p class="progress-item-title">Later Levels</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">• complex layouts</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                • blockers like paperclips
              </p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">• and sticky notes</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                • limited moves requiring strategy
              </p>
            </li>
          </ul>
        </li>
        <li class="progress-list-item">
          <p class="progress-item-title">Advanced Tasks</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">• multiple token goals</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">• layered boards</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                • clever booster planning
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
