<section class="progress-section section" id="progress">
  <div class="progress-section-wrapper">
    <div class="container progress-container">
      <h2 class="section-title progress-title">
        From gentle hints to deep structures
      </h2>
      <picture>
        <source
          srcset="./img/progress/progress-img-desk.png"
          media="(min-width: 1440px)"
          width="570"
          height="119"
        />
        <source
          srcset="./img/progress/progress-img-mob.png"
          width="335"
          height="131"
        />
        <img
          class="progress-img"
          src="./img/progress/progress-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="131"
          loading="lazy"
        />
      </picture>
      <ul class="progress-list">
        <li class="progress-list-item">
          <p class="progress-item-title">Early levels:</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">simple patterns</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">strong visual cues</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">wide tolerance</p>
            </li>
          </ul>
        </li>
        <li class="progress-list-item">
          <p class="progress-item-title">Mid levels:</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">multi-layer geometry</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                reflections and overlapping lines
              </p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                partial structures you must “complete” mentally
              </p>
            </li>
          </ul>
        </li>
        <li class="progress-list-item">
          <p class="progress-item-title">Advanced levels:</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                near-invisible alignments
              </p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                pattern rules that evolve
              </p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">minimal hints</p>
            </li>
            <li class="progress-features-list-item">
              <p class="progress-features-item-text">
                tighter precision requirements
              </p>
            </li>
          </ul>
        </li>
      </ul>
      <p class="progress-text">
        Still calm. Still minimal. Just more subtle, more demanding.
      </p>
    </div>
  </div>
</section>
