<section class="section works-section" id="works">
  <div class="works-bg-wrapper">
    <div class="container works-container">
      <div class="works-content-wrapper">
        <div class="works-text-wrapper">
          <h2 class="section-title works-title">
            Patterns that live inside ordinary scenes
          </h2>
          <div class="works-text-container">
            <p class="works-text">
              <span class="works-span"
                >This game isn’t about collecting items or clearing a board.<br />
                It’s about discovering structure.</span
              ><br />
            </p>
            <p class="works-text">
              <span class="works-span">A scene might look like:</span><br />
              &nbsp;&nbsp;• scattered tiles<br />
              &nbsp;&nbsp;• random lines<br />
              &nbsp;&nbsp;• messy geometry<br />
              &nbsp;&nbsp;• overlapping shapes<br />
              &nbsp;&nbsp;• reflections and shadows<br />
              But at the right angle, it becomes a clean geometric statement.
            </p>
            <picture>
              <source
                srcset="./img/works/works-img-desk.png"
                media="(min-width: 1440px)"
                width="569"
                height="138"
              />
              <source
                srcset="./img/works/works-img-mob.png"
                width="335"
                height="123"
              />
              <img
                class="works-img"
                src="./img/works/works-img-mob.png"
                alt="Screenshot of the game"
                width="335"
                height="123"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/works/works-bg-desk.png"
            media="(min-width: 1440px)"
            width="743"
            height="848"
          />
          <source
            srcset="./img/works/works-bg-mob.png"
            width="335"
            height="382"
          />
          <img
            class="works-bg-img"
            src="./img/works/works-bg-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="382"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
